---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
import Continue from "../components/Continue.astro"
---

<Layout>

<Header current="/jailbreak"/>
<div class="container">
    <main>
<h1>jailbreakøvelse</h1>
    <p>
        I denne del af forløbet skal du arbejde med såkaldt jailbreaking. Det betyder, at du skal forsøge at få en AI-model til at svare på spørgsmål eller udføre handlinger, som den normalt er programmeret til at afvise.
Sådan gør du:
    </p>
<ol>
    <li>Klik på knappen herunder for at åbne Haccman-siden i en ny fane.</li>
    <li>Log ind med dit unikke ID (ikke navn eller e-mail).</li>
    <li>Følg instruktionerne på Haccman-siden, og gennemfør øvelserne.</li>
    <li>Når du er færdig, vender du tilbage hertil og fortsætter til refleksions- og arbejdsøvelserne.</li>
</ol>
<p>Formålet er ikke at “slå AI’en”, men at undersøge hvor dens grænser går, og hvordan den reagerer, når du udfordrer den.</p>

</main>
<Continue tekst="Gå til HaccMan" href="https://thehaccman.com" target="_blank" />
<Continue href="/refleksion" tekst="Gå videre"/>
</div>
<Footer />
</Layout>

<style>
     .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    main {
      padding: 2%;
      max-width: 800px;
    }
</style>