---
import Layout from "../layouts/Layout.astro"


---

<Layout>
<footer>
<div class="img_cont">    
<img src="/logo.png" alt="logo" />
</div>
</footer>
</Layout>
<style>
    footer{
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: #D9DDFE;
        height: 80px;
        width: 100%;
        justify-content: end;
    }
    .img_cont{
        display: flex;
        align-items: center;
        width: 30%;
    }
    img{
        width: 100%;
        
    }
</style>