---
import Layout from "../layouts/Layout.astro";


---

<button id="generateBtn">Generér ID
</button>

<div class="unikId" id="unikId">
</div>


<style>
    button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 61px;
    padding: 9px 50px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    flex-shrink: 0;
    border:none;
    background-color: #D9DDFE;
    border-radius: 12px;
    margin-bottom: 1rem;

    }
    .unikId{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 61px;
        border: 1px solid black;
        margin-bottom: 1rem;
        font-size: 40px;

    }

</style>

<script>
    const btn = document.getElementById("generateBtn");
    const output = document.getElementById("unikId");

    function createID(){
        if (output){
        const id = Math.random().toString(36).substring(2,8).toUpperCase();
        output.textContent = id;
    }}


    
    btn?.addEventListener("click", createID);

    

</script>